<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org/DTD Mapper 3.0" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.edu.guet.mapper.EmpMapper">


    <resultMap id="getEmp" type="emp">
        <id property="empId" column="EMPID"/>
        <result property="empname" column="EMPNAME"/>
        <result property="sex" column="SEX"/>
        <result property="emplevel" column="EMPLEVEL"/>
        <result property="phone" column="PHONE"/>
        <result property="birth" column="BIRTH" />
        <result property="hiredate" column="HIREDATE" />
    </resultMap>
    <select id="getAllEmp" resultMap="getEmp">
		SELECT * FROM emp
	</select>
    <select id="getSoloEmp" resultMap="getEmp">
		SELECT * FROM emp WHERE empid=#{empId}
	</select>
    <insert id="insertEmp" parameterType="emp">
        INSERT INTO emp VALUES(#{empId},#{empname},#{emplevel},#{phone},to_date(#{birth},'yyyy-mm-dd'),to_date(#{hiredate},'yyyy-mm-dd'),#{sex})
    </insert>
    <delete id="deleteEmp" parameterType="string">
        DELETE FROM emp WHERE empid=#{empId}
    </delete>
    <update id="updateEmp" parameterType="emp">
        UPDATE emp <trim prefix="set" suffixOverrides=",">
        <if test="empname!=null">empname=#{empname},</if>
        <if test="emplevel!=null">emplevel=#{emplevel},</if>
        <if test="phone!=null">phone=#{phone},</if>
        <if test="birth!=null">birth=to_date(#{birth},'yyyy-mm-dd'),</if>
        <if test="hiredate!=null">hiredate=to_date(#{hiredate},'yyyy-mm-dd'),</if>
        <if test="sex!=null">sex=#{sex},</if>
    </trim>
        WHERE empid=#{empId}
    </update>
</mapper>