<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org/DTD Mapper 3.0" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.edu.guet.mapper.RoleMapper">
	<insert id="insertRole">
		INSERT INTO user_role VALUES(#{userId},#{roleId})
	</insert>

	<select id="getRoleById" resultType="role">
		SELECT * FROM role WHERE roleid=#{roleId}
	</select>

	<select id="getRoleByUserId" resultType="role">
		SELECT * FROM user_role WHERE userid=#{userId}
	</select>

	<delete id="deleteRole" parameterType="role">
		DELETE FROM user_role WHERE roleid=#{roleId}
	</delete>
</mapper>